__pycache__/
.venv/
*/filter_passed/
*/cluster_results/
*/final_result/
*.pdb
relaxed_cache/
output/
smoke_test/output/
__pycache__/
EGFR_dimer_TH1_wt/
EGFR_dimer_beta_meander_wt/
input/ligands/
input/receptors/
*.e
*.o
worker_debug.log
